<h1><%= @hobby.user.name %>'s Hobby</h1>
<h2><%= @hobby.name + " - " + @hobby.season %></h2>
<% if @hobby.items.size > 0 %>
    <ul><% @hobby.items.each do |item| %>
            <li>Item: <%= item.name %>, Year: <%= item.year %>, Company: <%= item.company %></a>
            <% if logged_in? && @hobby.user == current_user %>
                <a href="/items/<%= item.id %>/edit">Edit Item</a> 
                <form method="post" action="/items/<%= item.id %>">
                    <input type="hidden" value="delete" name="_method"></input>
                    <input type="submit" value="Delete Item"></input><br><br>
                </form>
            <% end %>
        <% end %></ul>
    <% end %>

<% if logged_in? && @hobby.user == current_user %>
    <form action="/items" method="post">
        <input type="text" name="name" placeholder="Name" required></input>
        <input type="text" name="year" placeholder="Year"></input>
        <input type="text" name="company" placeholder="Company"></input>
        <input type="hidden" name="hobby_id" value="<%= @hobby.id %>"></input>
        <input type="submit" value="Create Item"></input>
    </form>
    <br>
    <a href="/hobbies/<%= @hobby.id %>/edit">Edit Hobby</a><br>
    <form method="post" action="/hobbies/<%= @hobby.id %>">
        <input type="hidden" value="delete" name="_method"></input>
        <input type="submit" value="Delete Hobby"></input>
    </form>
<% end %><br><br>
<a href="/hobbies">Back to all hobbies</a><br><br>
<% if logged_in? %>
    <a href="/logout">Log Out</a>
<% else %>
    <a href="/login">Log In</a>
<% end %>


